* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #d8eeff;
}

ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  li {
    box-sizing: border-box;
    list-style: none;
    background-color: #ffffff;
  }
}

button {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 500;
  background-color: chocolate;
  border: none;
  cursor: pointer;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: .5;
  }
}

p {
  font-size: 16px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  .home, .basket_page {
    max-width: 1280px;
    width: 100%;
    margin: 50px auto;
    h2 {
      margin-bottom: 30px;
    }
  }
}
